/* 
Ryle Choirs Homepage CSS File
Elena Wheatley
9/29/21
*/ 

/*All visible elements and classes: .buttons, .banner, body, h1, h2, h3, 
  ul, li, img, p, strong, table, tr, th, td */

body {
    background-color: rgb(150, 150, 150);
}

/* Top of Page */ 
h1 {
    font-size: 42;

    width: 98%;
    padding: 0.5em 0;
    border: thick solid black;
    margin: 0 auto;
    
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
}

.buttons {
    font-size: 30;

    width: 10em;
    padding: 0.5em 0;
    border: thick solid black;
    border-radius: 1em;
    margin: 0 2em;
    
    display: inline-block;
    z-index: 1;
}

.buttonsList {
    background-color: rgb(0, 0, 0);
    
    width: 95%;
    margin: 0 auto;
    
    position: fixed;
    top: 70px;
    z-index: 1;
}

.banner {
    width: 100%;
    margin: 0;
}

/* Middle of Page */
h2 {
    font-size: 36;

    padding: 0.5em 0;
    border: thick solid black;
    border-radius: 0.4em;
    margin: 2em 0 1em 0;
    
    display: block;
}

h3 {
    font-size: 32;

    margin: 1.5em 0 0.5em 0;
    
    position: relative;
    left: 40px;
}

h4 {
    font-size: 28;

    margin: 1em 0 0.25em 0;
    
    position: relative;
    left: 40px;
}

li {
    font-size: 24;
}

p {
    font-size: 24;
    text-align: left;
    
    margin: 0;
}

a {
    font-size: 24;
    text-decoration: none;
}

/* Table format */
table {
    background-color: rgb(255, 110, 0);

    width: 100%;
    border: thick solid black;
}

tr {
    width: 100%;
}

td, th {
    font-family: "cambria", serif;
    text-align: center;
    color: rgb(0, 0, 0);
    
    width: 15%;
    height: 3em;
    padding: 1em 4.5%;
    margin: 0.5%;

    display: inline-block;
}

td {   
    font-size: 24;
    background-color: rgb(200, 200, 200);
}

th {
    font-size: 28;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

/* General Formatting*/
/* Shifting elements down */
h2, h3, h4, p, table, img, .procedures {
    position: relative;
    top: 100px;
}

/* orange background, padding, border, center alignment */
.buttons, h1, h2 {
    text-align: center;
    background-color: rgb(255, 110, 0);
    
    padding: 0.5em 0;
    border: thick solid rgb(0, 0, 0);
}

/* Font, Text Color (for all text)*/
h1, h2, a, .buttons {
    font-family: "cambria", serif;
    color: rgb(0, 0, 0);
    word-spacing: 0.1em;
    line-height: 1em;
}

h3, h4, p, .procedures {
    font-family: "Arial", Sans-Serif;
    color: rgb(0, 0, 0);
    word-spacing: 0.1em;
    line-height: 1.5em;
}


